input {
    width: 93vw !important;
}

form {
    font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .typewriter h1 {
        font-size: 2.3em;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

    .typewriter h1 {
        font-size: 3rem;
    }
}